### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# resources used: 
#https://stackoverflow.com/questions/20937538/how-to-display-pandas-dataframe-of-floats-using-a-format-string-for-columns
#https://stackoverflow.com/questions/45163256/how-to-format-numbers-as-percentage-values-in-javascript
#https://stackoverflow.com/questions/20937538/how-to-display-pandas-dataframe-of-floats-using-a-format-string-for-columns
#https://stackoverflow.com/questions/20937538/how-to-display-pandas-dataframe-of-floats-using-a-format-string-for-columns

In [425]:
# Dependencies and Setup
import pandas as pd

import numpy as np
# File to Load (Remember to Change These)
file_to_load = "04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [426]:
purchase_data['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [427]:
unique_items = purchase_data['Item Name'].nunique()
unique_items

179

In [428]:
avg_price = purchase_data['Price'].mean()
avg_prices = np.around(avg_price, 2)
avg_prices

3.05

In [429]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [430]:
unique_purchases = purchase_data['Purchase ID'].nunique()
unique_purchases

780

In [431]:
summary_purchase_data = pd.DataFrame({'Unique Items': unique_items, 'Average Price': avg_prices, 'Unique Purchases': unique_purchases, 'Total Revenue': total_revenue}, index = [1])
print(summary_purchase_data)
summary_purchase_data.head()

   Unique Items  Average Price  Unique Purchases  Total Revenue
1           179           3.05               780        2379.77

   Unique Items  Average Price  Unique Purchases  Total Revenue
1           179           3.05               780        2379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [432]:
gender_group = purchase_data.groupby(['Gender']).nunique()
print(gender_group)
gender_group.count().head()

                       Purchase ID   SN  Age  Gender  Item ID  Item Name  \
Gender
Female                         113   81   22       1       90         90
Male                           652  484   39       1      182        178
Other / Non-Disclosed           15   11    8       1       13         13

                       Price
Gender
Female                    79
Male                     144
Other / Non-Disclosed     12

Purchase ID    3
SN             3
Age            3
Gender         3
Item ID        3
dtype: int64

In [433]:
gender_type = gender_group['Gender']
gender_type

Gender
Female                   1
Male                     1
Other / Non-Disclosed    1
Name: Gender, dtype: int64

In [434]:
gender_total = gender_group['SN'].unique()
gender_total

array([ 81, 484,  11])

In [435]:
gender_total2 = gender_group['SN'].sum()
gender_total2

576

In [436]:
gender_percent = np.array((gender_total/gender_total2) * 100)
gender_percentages = np.around(gender_percent, 2) 
gender_percentages

array([14.06, 84.03,  1.91])

In [437]:
gender_summary = pd.DataFrame({'Gender': gender_type, 'Count': gender_total, 'Percentage': gender_percentages})
print(gender_summary)
gender_summary.head()

                       Gender  Count  Percentage
Gender
Female                      1     81       14.06
Male                        1    484       84.03
Other / Non-Disclosed       1     11        1.91

                       Gender  Count  Percentage
Gender
Female                      1     81       14.06
Male                        1    484       84.03
Other / Non-Disclosed       1     11        1.91

# ## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [438]:
gender_group_purchasing = purchase_data.groupby(['Gender'])
print(gender_group_purchasing)
gender_group_purchasing.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9fdae6c890>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [439]:
purchase_count_gen = gender_group_purchasing['Purchase ID'].count()
print(purchase_count_gen)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [440]:
avg_purchase = gender_group_purchasing['Price'].mean()
avg_purchases_gen = np.around(avg_purchase, 2)
avg_purchases_gen

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [441]:
purchase_total_gen = gender_group_purchasing['Price'].sum()
purchase_total_gen

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [442]:
purchase_perperson = purchase_total/gender_group_purchasing['SN'].nunique()
purchase_perpersons_gen = np.around(purchase_perperson, 2)
purchase_perpersons_gen

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [443]:
gender_purchase_summary = pd.DataFrame({'Purchase Count': purchase_count_gen, 'Avg Purchase': avg_purchases_gen, 'Avg Purchase (per person)': purchase_perpersons_gen})
print(gender_purchase_summary)
gender_purchase_summary.head()

                       Purchase Count  Avg Purchase  Avg Purchase (per person)
Gender
Female                            113          3.20                       4.47
Male                              652          3.02                       4.07
Other / Non-Disclosed              15          3.35                       4.56

                       Purchase Count  Avg Purchase  Avg Purchase (per person)
Gender
Female                            113          3.20                       4.47
Male                              652          3.02                       4.07
Other / Non-Disclosed              15          3.35                       4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [444]:
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins = [0, 10, 15, 20, 25, 30, 35, 40, 200], labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
print(purchase_data)
purchase_data.head()

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male      101
779          779      Ennrian78   24    Male       50

                                     Item Name  Price Age Group
0    Extraction, Quickblade Of Trembling Hands   3.53     15-19
1                            Frenzied Scimitar   1.56     35-39
2                                 Final Critic   4.88     20-24
3                                  Blindscythe   3.27     20-24
4                                         Fury   1.44     20-24
..                                         ...    ...       ...
775                                       Wolf   3.54     20-24
776                           Exiled Doomblade   1.63     20-24
777      Celeste, Incarnation of the Corrupted   3.46     15-19
778                               Final Critic   4.19       <10
779                                       Dawn   4.60     20-24

[780 rows x 8 columns]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [445]:
purchase_ages = purchase_data.groupby(['Age Group'])
print(purchase_ages)
purchase_ages.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9fdaef2690>

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 32   32   32      32       32         32     32
10-14               54   54   54      54       54         54     54
15-19              200  200  200     200      200        200    200
20-24              325  325  325     325      325        325    325
25-29               77   77   77      77       77         77     77

In [446]:
age_groups = purchase_ages['SN'].nunique()
age_groups

Age Group
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
40+        7
Name: SN, dtype: int64

In [447]:
age_total = purchase_ages['SN'].nunique().sum()
age_total

576

In [448]:
age_percetange = np.array((age_groups/age_total) * 100)
age_percetanges = np.around(age_percetange, 2)
age_percetanges

array([ 4.17,  7.12, 26.04, 40.28, 10.24,  6.42,  4.51,  1.22])

In [449]:
age_summary = pd.DataFrame({'Count': age_groups, 'Percentage': age_percetanges})
print(age_summary)
age_summary.head()

           Count  Percentage
Age Group
<10           24        4.17
10-14         41        7.12
15-19        150       26.04
20-24        232       40.28
25-29         59       10.24
30-34         37        6.42
35-39         26        4.51
40+            7        1.22

           Count  Percentage
Age Group
<10           24        4.17
10-14         41        7.12
15-19        150       26.04
20-24        232       40.28
25-29         59       10.24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [450]:
purchase_count_age = purchase_ages['Purchase ID'].nunique()
purchase_count_age

Age Group
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: Purchase ID, dtype: int64

In [451]:
avg_price_age = purchase_ages['Price'].mean()
avg_price_ages = np.around(avg_price_age, 2).map('${:,.2f}'.format)
avg_price_ages

Age Group
<10      $3.40
10-14    $2.90
15-19    $3.11
20-24    $3.02
25-29    $2.88
30-34    $2.99
35-39    $3.40
40+      $3.08
Name: Price, dtype: object

In [452]:
avg_purchase_total = purchase_ages['Price'].nunique().sum()/purchase_count_age
avg_purchase_totals = np.around(avg_purchase_total, 2).map('${:,.2f}'.format)
avg_purchase_totals

Age Group
<10      $13.91
10-14     $8.24
15-19     $2.22
20-24     $1.37
25-29     $5.78
30-34     $8.56
35-39    $13.48
40+      $63.57
Name: Purchase ID, dtype: object

In [453]:
age_purchase_summary = pd.DataFrame({'Count': purchase_count_age, 'Avg Price': avg_price_ages, 'Avg Purchase(per person)': avg_purchase_totals})
print(age_purchase_summary)
age_purchase_summary.head()

           Count Avg Price Avg Purchase(per person)
Age Group
<10           32     $3.40                   $13.91
10-14         54     $2.90                    $8.24
15-19        200     $3.11                    $2.22
20-24        325     $3.02                    $1.37
25-29         77     $2.88                    $5.78
30-34         52     $2.99                    $8.56
35-39         33     $3.40                   $13.48
40+            7     $3.08                   $63.57

           Count Avg Price Avg Purchase(per person)
Age Group
<10           32     $3.40                   $13.91
10-14         54     $2.90                    $8.24
15-19        200     $3.11                    $2.22
20-24        325     $3.02                    $1.37
25-29         77     $2.88                    $5.78

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [454]:
top_spenders = purchase_data.groupby(['SN'])
print(top_spenders)
top_spenders.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9fdaf10f50>

              Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Group
SN
Adairialis76            1    1       1        1          1      1          1
Adastirin33             1    1       1        1          1      1          1
Aeda94                  1    1       1        1          1      1          1
Aela59                  1    1       1        1          1      1          1
Aelaria33               1    1       1        1          1      1          1

In [455]:
purchase_count = top_spenders['Purchase ID'].nunique()
purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [456]:
total_purchase = top_spenders['Price'].sum().map('${:,.2f}'.format)
total_purchase

SN
Adairialis76     $2.28
Adastirin33      $4.48
Aeda94           $4.91
Aela59           $4.32
Aelaria33        $1.79
                 ...
Yathecal82       $6.22
Yathedeu43       $6.02
Yoishirrala98    $4.58
Zhisrisu83       $7.89
Zontibe81        $8.03
Name: Price, Length: 576, dtype: object

In [457]:
avg_price = top_spenders['Price'].mean().map('${:,.2f}'.format)
avg_price

SN
Adairialis76     $2.28
Adastirin33      $4.48
Aeda94           $4.91
Aela59           $4.32
Aelaria33        $1.79
                 ...
Yathecal82       $2.07
Yathedeu43       $3.01
Yoishirrala98    $4.58
Zhisrisu83       $3.94
Zontibe81        $2.68
Name: Price, Length: 576, dtype: object

In [458]:
top_players_df = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price': avg_price, 'Total Purchase Value': total_purchase})
print(top_players_df)
top_players_df.head(200)

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                1                  $2.28                $2.28
Adastirin33                 1                  $4.48                $4.48
Aeda94                      1                  $4.91                $4.91
Aela59                      1                  $4.32                $4.32
Aelaria33                   1                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82                  3                  $2.07                $6.22
Yathedeu43                  2                  $3.01                $6.02
Yoishirrala98               1                  $4.58                $4.58
Zhisrisu83                  2                  $3.94                $7.89
Zontibe81                   3                  $2.68                $8.03

[576 rows x 3 columns]

                Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                 1                  $2.28                $2.28
Adastirin33                  1                  $4.48                $4.48
Aeda94                       1                  $4.91                $4.91
Aela59                       1                  $4.32                $4.32
Aelaria33                    1                  $1.79                $1.79
...                        ...                    ...                  ...
Frichynde86                  1                  $1.63                $1.63
Hada39                       3                  $2.86                $8.57
Haedairiadru51               1                  $3.09                $3.09
Haeladil46                   1                  $3.81                $3.81
Haellysu29                   1                  $3.77                $3.77

[200 rows x 3 columns]

In [459]:
top_spending_dedupe = top_players_df[top_players_df.duplicated()]
print(top_spending_dedupe)

                Purchase Count Average Purchase Price Total Purchase Value
SN
Aeralstical35                1                  $2.96                $2.96
Aerithnucal56                1                  $4.40                $4.40
Aerithnuphos61               1                  $4.91                $4.91
Aidai73                      1                  $3.08                $3.08
Aiduesu86                    1                  $4.48                $4.48
...                        ...                    ...                  ...
Yastyriaphos75               1                  $4.75                $4.75
Yasur35                      1                  $4.48                $4.48
Yasur85                      1                  $1.10                $1.10
Yathecal72                   1                  $3.46                $3.46
Yoishirrala98                1                  $4.58                $4.58

[294 rows x 3 columns]

In [461]:
top_spending = top_players_df.sort_values(['Total Purchase Value'], ascending = False)
print(top_spending)
top_spending.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18
...                      ...                    ...                  ...
Qilalista41                1                  $1.02                $1.02
Ililsasya43                1                  $1.02                $1.02
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Alo38                      1                  $1.00                $1.00

[576 rows x 3 columns]

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [462]:
most_pop_df = pd.DataFrame({'Item Id': purchase_data['Item ID'], 'Item Name': purchase_data['Item Name'], 'Item Price': purchase_data['Price']})
print(most_pop_df)
most_pop_df.head()

     Item Id                                  Item Name  Item Price
0        108  Extraction, Quickblade Of Trembling Hands        3.53
1        143                          Frenzied Scimitar        1.56
2         92                               Final Critic        4.88
3        100                                Blindscythe        3.27
4        131                                       Fury        1.44
..       ...                                        ...         ...
775       60                                       Wolf        3.54
776      164                           Exiled Doomblade        1.63
777       67      Celeste, Incarnation of the Corrupted        3.46
778      101                               Final Critic        4.19
779       50                                       Dawn        4.60

[780 rows x 3 columns]

   Item Id                                  Item Name  Item Price
0      108  Extraction, Quickblade Of Trembling Hands        3.53
1      143                          Frenzied Scimitar        1.56
2       92                               Final Critic        4.88
3      100                                Blindscythe        3.27
4      131                                       Fury        1.44

In [463]:
most_pop_gp = most_pop_df.groupby(['Item Id', 'Item Name'])
print(most_pop_gp)
most_pop_gp.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9f88153b50>

                            Item Price
Item Id Item Name
0       Splinter                     4
1       Crucifer                     3
2       Verdict                      6
3       Phantomlight                 6
4       Bloodlord's Fetish           5

In [464]:
pop_purch_count = most_pop_gp['Item Id'].count()
pop_purch_count

Item Id  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Item Id, Length: 183, dtype: int64

In [465]:
pop_item_price = most_pop_gp['Item Price'].unique()
pop_item_price

Item Id  Item Name
0        Splinter                           [1.28]
1        Crucifer                           [3.26]
2        Verdict                            [2.48]
3        Phantomlight                       [2.49]
4        Bloodlord's Fetish                  [1.7]
                                             ...
179      Wolf, Promise of the Moonwalker    [4.48]
180      Stormcaller                        [3.36]
181      Reaper's Toll                      [1.66]
182      Toothpick                          [4.03]
183      Dragon's Greatsword                [1.09]
Name: Item Price, Length: 183, dtype: object

In [472]:
pop_total_purch = most_pop_gp['Item Price'].sum()
pop_total_purch

Item Id  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Item Price, Length: 183, dtype: float64

In [484]:
most_pop_sum = pd.DataFrame({'Item Id': most_pop_gp['Item Id'], 'Item Name': most_pop_gp['Item Name'], 'Item Count': pop_purch_count, 'Item Price': pop_item_price, 'Total Purchases': pop_total_purch})
print(most_pop_sum)
most_pop_sum.head()

                                                                                   Item Id  \
Item Id Item Name
0       Splinter                                             ((0, Splinter), [0, 0, 0, 0])
1       Crucifer                                                ((1, Crucifer), [1, 1, 1])
2       Verdict                                         ((2, Verdict), [2, 2, 2, 2, 2, 2])
3       Phantomlight                               ((3, Phantomlight), [3, 3, 3, 3, 3, 3])
4       Bloodlord's Fetish                      ((4, Bloodlord's Fetish), [4, 4, 4, 4, 4])
...                                                                                    ...
179     Wolf, Promise of the Moonwalker  ((179, Wolf, Promise of the Moonwalker), [179,...
180     Stormcaller                                            ((180, Stormcaller), [180])
181     Reaper's Toll                    ((181, Reaper's Toll), [181, 181, 181, 181, 181])
182     Toothpick                                      ((182, Toothpick), [182, 182, 182])
183     Dragon's Greatsword                  ((183, Dragon's Greatsword), [183, 183, 183])

                                                                                 Item Name  \
Item Id Item Name
0       Splinter                         ((0, Splinter), [Splinter, Splinter, Splinter,...
1       Crucifer                           ((1, Crucifer), [Crucifer, Crucifer, Crucifer])
2       Verdict                          ((2, Verdict), [Verdict, Verdict, Verdict, Ver...
3       Phantomlight                     ((3, Phantomlight), [Phantomlight, Phantomligh...
4       Bloodlord's Fetish               ((4, Bloodlord's Fetish), [Bloodlord's Fetish,...
...                                                                                    ...
179     Wolf, Promise of the Moonwalker  ((179, Wolf, Promise of the Moonwalker), [Wolf...
180     Stormcaller                                    ((180, Stormcaller), [Stormcaller])
181     Reaper's Toll                    ((181, Reaper's Toll), [Reaper's Toll, Reaper'...
182     Toothpick                        ((182, Toothpick), [Toothpick, Toothpick, Toot...
183     Dragon's Greatsword              ((183, Dragon's Greatsword), [Dragon's Greatsw...

                                         Item Count Item Price  \
Item Id Item Name
0       Splinter                                  4     [1.28]
1       Crucifer                                  3     [3.26]
2       Verdict                                   6     [2.48]
3       Phantomlight                              6     [2.49]
4       Bloodlord's Fetish                        5      [1.7]
...                                             ...        ...
179     Wolf, Promise of the Moonwalker           6     [4.48]
180     Stormcaller                               1     [3.36]
181     Reaper's Toll                             5     [1.66]
182     Toothpick                                 3     [4.03]
183     Dragon's Greatsword                       3     [1.09]

                                         Total Purchases
Item Id Item Name
0       Splinter                                    5.12
1       Crucifer                                    9.78
2       Verdict                                    14.88
3       Phantomlight                               14.94
4       Bloodlord's Fetish                          8.50
...                                                  ...
179     Wolf, Promise of the Moonwalker            26.88
180     Stormcaller                                 3.36
181     Reaper's Toll                               8.30
182     Toothpick                                  12.09
183     Dragon's Greatsword                         3.27

[183 rows x 5 columns]

,,Item Id,Item Name,Item Count,Item Price,Total Purchases
Item Id,Item Name,,,,,
0,Splinter,"((0, Splinter), [0, 0, 0, 0])","((0, Splinter), [Splinter, Splinter, Splinter,...",4,[1.28],5.12
1,Crucifer,"((1, Crucifer), [1, 1, 1])","((1, Crucifer), [Crucifer, Crucifer, Crucifer])",3,[3.26],9.78
2,Verdict,"((2, Verdict), [2, 2, 2, 2, 2, 2])","((2, Verdict), [Verdict, Verdict, Verdict, Ver...",6,[2.48],14.88
3,Phantomlight,"((3, Phantomlight), [3, 3, 3, 3, 3, 3])","((3, Phantomlight), [Phantomlight, Phantomligh...",6,[2.49],14.94
4,Bloodlord's Fetish,"((4, Bloodlord's Fetish), [4, 4, 4, 4, 4])","((4, Bloodlord's Fetish), [Bloodlord's Fetish,...",5,[1.7],8.50

In [485]:
most_pop_sum['Item Price'] = most_pop_sum['Item Price'].astype(float)
most_pop_sum['Item Price'] = most_pop_sum['Item Price'].map('${:,.2f}'.format)
most_pop_sum['Item Price']

Item Id  Item Name
0        Splinter                           $1.28
1        Crucifer                           $3.26
2        Verdict                            $2.48
3        Phantomlight                       $2.49
4        Bloodlord's Fetish                 $1.70
                                            ...
179      Wolf, Promise of the Moonwalker    $4.48
180      Stormcaller                        $3.36
181      Reaper's Toll                      $1.66
182      Toothpick                          $4.03
183      Dragon's Greatsword                $1.09
Name: Item Price, Length: 183, dtype: object

In [486]:
print(most_pop_sum)
most_pop_sum.head()

                                                                                   Item Id  \
Item Id Item Name
0       Splinter                                             ((0, Splinter), [0, 0, 0, 0])
1       Crucifer                                                ((1, Crucifer), [1, 1, 1])
2       Verdict                                         ((2, Verdict), [2, 2, 2, 2, 2, 2])
3       Phantomlight                               ((3, Phantomlight), [3, 3, 3, 3, 3, 3])
4       Bloodlord's Fetish                      ((4, Bloodlord's Fetish), [4, 4, 4, 4, 4])
...                                                                                    ...
179     Wolf, Promise of the Moonwalker  ((179, Wolf, Promise of the Moonwalker), [179,...
180     Stormcaller                                            ((180, Stormcaller), [180])
181     Reaper's Toll                    ((181, Reaper's Toll), [181, 181, 181, 181, 181])
182     Toothpick                                      ((182, Toothpick), [182, 182, 182])
183     Dragon's Greatsword                  ((183, Dragon's Greatsword), [183, 183, 183])

                                                                                 Item Name  \
Item Id Item Name
0       Splinter                         ((0, Splinter), [Splinter, Splinter, Splinter,...
1       Crucifer                           ((1, Crucifer), [Crucifer, Crucifer, Crucifer])
2       Verdict                          ((2, Verdict), [Verdict, Verdict, Verdict, Ver...
3       Phantomlight                     ((3, Phantomlight), [Phantomlight, Phantomligh...
4       Bloodlord's Fetish               ((4, Bloodlord's Fetish), [Bloodlord's Fetish,...
...                                                                                    ...
179     Wolf, Promise of the Moonwalker  ((179, Wolf, Promise of the Moonwalker), [Wolf...
180     Stormcaller                                    ((180, Stormcaller), [Stormcaller])
181     Reaper's Toll                    ((181, Reaper's Toll), [Reaper's Toll, Reaper'...
182     Toothpick                        ((182, Toothpick), [Toothpick, Toothpick, Toot...
183     Dragon's Greatsword              ((183, Dragon's Greatsword), [Dragon's Greatsw...

                                         Item Count Item Price  \
Item Id Item Name
0       Splinter                                  4      $1.28
1       Crucifer                                  3      $3.26
2       Verdict                                   6      $2.48
3       Phantomlight                              6      $2.49
4       Bloodlord's Fetish                        5      $1.70
...                                             ...        ...
179     Wolf, Promise of the Moonwalker           6      $4.48
180     Stormcaller                               1      $3.36
181     Reaper's Toll                             5      $1.66
182     Toothpick                                 3      $4.03
183     Dragon's Greatsword                       3      $1.09

                                         Total Purchases
Item Id Item Name
0       Splinter                                    5.12
1       Crucifer                                    9.78
2       Verdict                                    14.88
3       Phantomlight                               14.94
4       Bloodlord's Fetish                          8.50
...                                                  ...
179     Wolf, Promise of the Moonwalker            26.88
180     Stormcaller                                 3.36
181     Reaper's Toll                               8.30
182     Toothpick                                  12.09
183     Dragon's Greatsword                         3.27

[183 rows x 5 columns]

,,Item Id,Item Name,Item Count,Item Price,Total Purchases
Item Id,Item Name,,,,,
0,Splinter,"((0, Splinter), [0, 0, 0, 0])","((0, Splinter), [Splinter, Splinter, Splinter,...",4,$1.28,5.12
1,Crucifer,"((1, Crucifer), [1, 1, 1])","((1, Crucifer), [Crucifer, Crucifer, Crucifer])",3,$3.26,9.78
2,Verdict,"((2, Verdict), [2, 2, 2, 2, 2, 2])","((2, Verdict), [Verdict, Verdict, Verdict, Ver...",6,$2.48,14.88
3,Phantomlight,"((3, Phantomlight), [3, 3, 3, 3, 3, 3])","((3, Phantomlight), [Phantomlight, Phantomligh...",6,$2.49,14.94
4,Bloodlord's Fetish,"((4, Bloodlord's Fetish), [4, 4, 4, 4, 4])","((4, Bloodlord's Fetish), [Bloodlord's Fetish,...",5,$1.70,8.50

In [487]:
most_pop_sort = most_pop_sum.sort_values(['Item Count'], ascending = False)
print(most_pop_sort)
most_pop_sort.head()

                                                                                                Item Id  \
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  ((178, Oathbreaker, Last Hope of the Breaking ...
145     Fiery Glass Crusader                          ((145, Fiery Glass Crusader), [145, 145, 145, ...
108     Extraction, Quickblade Of Trembling Hands     ((108, Extraction, Quickblade Of Trembling Han...
82      Nirvana                                       ((82, Nirvana), [82, 82, 82, 82, 82, 82, 82, 8...
19      Pursuit, Cudgel of Necromancy                 ((19, Pursuit, Cudgel of Necromancy), [19, 19,...
...                                                                                                 ...
104     Gladiator's Glaive                                           ((104, Gladiator's Glaive), [104])
23      Crucifer                                                                 ((23, Crucifer), [23])
180     Stormcaller                                                         ((180, Stormcaller), [180])
91      Celeste                                                                   ((91, Celeste), [91])
134     Undead Crusader                                                 ((134, Undead Crusader), [134])

                                                                                              Item Name  \
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  ((178, Oathbreaker, Last Hope of the Breaking ...
145     Fiery Glass Crusader                          ((145, Fiery Glass Crusader), [Fiery Glass Cru...
108     Extraction, Quickblade Of Trembling Hands     ((108, Extraction, Quickblade Of Trembling Han...
82      Nirvana                                       ((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...
19      Pursuit, Cudgel of Necromancy                 ((19, Pursuit, Cudgel of Necromancy), [Pursuit...
...                                                                                                 ...
104     Gladiator's Glaive                            ((104, Gladiator's Glaive), [Gladiator's Glaive])
23      Crucifer                                                           ((23, Crucifer), [Crucifer])
180     Stormcaller                                                 ((180, Stormcaller), [Stormcaller])
91      Celeste                                                              ((91, Celeste), [Celeste])
134     Undead Crusader                                     ((134, Undead Crusader), [Undead Crusader])

                                                      Item Count Item Price  \
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm          12      $4.23
145     Fiery Glass Crusader                                   9      $4.58
108     Extraction, Quickblade Of Trembling Hands              9      $3.53
82      Nirvana                                                9      $4.90
19      Pursuit, Cudgel of Necromancy                          8      $1.02
...                                                          ...        ...
104     Gladiator's Glaive                                     1      $1.93
23      Crucifer                                               1      $1.99
180     Stormcaller                                            1      $3.36
91      Celeste                                                1      $4.17
134     Undead Crusader                                        1      $4.50

                                                      Total Purchases
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm            50.76
145     Fiery Glass Crusader                                    41.22
108     Extraction, Quickblade Of Trembling Hands               31.77
82      Nirvana                                                 44.10
19      Pursuit, Cudgel of Necromancy                            8.16
...                                                               ...
104     Gladiator's Glaive                                       1.93
23      Crucifer                                                 1.99
180     Stormcaller                                              3.36
91      Celeste                                                  4.17
134     Undead Crusader                                          4.50

[183 rows x 5 columns]

,,Item Id,Item Name,Item Count,Item Price,Total Purchases
Item Id,Item Name,,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm","((178, Oathbreaker, Last Hope of the Breaking ...","((178, Oathbreaker, Last Hope of the Breaking ...",12,$4.23,50.76
145,Fiery Glass Crusader,"((145, Fiery Glass Crusader), [145, 145, 145, ...","((145, Fiery Glass Crusader), [Fiery Glass Cru...",9,$4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands","((108, Extraction, Quickblade Of Trembling Han...","((108, Extraction, Quickblade Of Trembling Han...",9,$3.53,31.77
82,Nirvana,"((82, Nirvana), [82, 82, 82, 82, 82, 82, 82, 8...","((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...",9,$4.90,44.10
19,"Pursuit, Cudgel of Necromancy","((19, Pursuit, Cudgel of Necromancy), [19, 19,...","((19, Pursuit, Cudgel of Necromancy), [Pursuit...",8,$1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [488]:
most_prof = most_pop_sum.sort_values(['Total Purchases'], ascending = False)
print(most_prof)
most_prof.head()

                                                                                                Item Id  \
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  ((178, Oathbreaker, Last Hope of the Breaking ...
82      Nirvana                                       ((82, Nirvana), [82, 82, 82, 82, 82, 82, 82, 8...
145     Fiery Glass Crusader                          ((145, Fiery Glass Crusader), [145, 145, 145, ...
92      Final Critic                                  ((92, Final Critic), [92, 92, 92, 92, 92, 92, ...
103     Singed Scalpel                                ((103, Singed Scalpel), [103, 103, 103, 103, 1...
...                                                                                                 ...
125     Whistling Mithril Warblade                      ((125, Whistling Mithril Warblade), [125, 125])
126     Exiled Mithril Longsword                               ((126, Exiled Mithril Longsword), [126])
23      Crucifer                                                                 ((23, Crucifer), [23])
104     Gladiator's Glaive                                           ((104, Gladiator's Glaive), [104])
42      The Decapitator                                                   ((42, The Decapitator), [42])

                                                                                              Item Name  \
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  ((178, Oathbreaker, Last Hope of the Breaking ...
82      Nirvana                                       ((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...
145     Fiery Glass Crusader                          ((145, Fiery Glass Crusader), [Fiery Glass Cru...
92      Final Critic                                  ((92, Final Critic), [Final Critic, Final Crit...
103     Singed Scalpel                                ((103, Singed Scalpel), [Singed Scalpel, Singe...
...                                                                                                 ...
125     Whistling Mithril Warblade                    ((125, Whistling Mithril Warblade), [Whistling...
126     Exiled Mithril Longsword                      ((126, Exiled Mithril Longsword), [Exiled Mith...
23      Crucifer                                                           ((23, Crucifer), [Crucifer])
104     Gladiator's Glaive                            ((104, Gladiator's Glaive), [Gladiator's Glaive])
42      The Decapitator                                      ((42, The Decapitator), [The Decapitator])

                                                      Item Count Item Price  \
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm          12      $4.23
82      Nirvana                                                9      $4.90
145     Fiery Glass Crusader                                   9      $4.58
92      Final Critic                                           8      $4.88
103     Singed Scalpel                                         8      $4.35
...                                                          ...        ...
125     Whistling Mithril Warblade                             2      $1.00
126     Exiled Mithril Longsword                               1      $2.00
23      Crucifer                                               1      $1.99
104     Gladiator's Glaive                                     1      $1.93
42      The Decapitator                                        1      $1.75

                                                      Total Purchases
Item Id Item Name
178     Oathbreaker, Last Hope of the Breaking Storm            50.76
82      Nirvana                                                 44.10
145     Fiery Glass Crusader                                    41.22
92      Final Critic                                            39.04
103     Singed Scalpel                                          34.80
...                                                               ...
125     Whistling Mithril Warblade                               2.00
126     Exiled Mithril Longsword                                 2.00
23      Crucifer                                                 1.99
104     Gladiator's Glaive                                       1.93
42      The Decapitator                                          1.75

[183 rows x 5 columns]

,,Item Id,Item Name,Item Count,Item Price,Total Purchases
Item Id,Item Name,,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm","((178, Oathbreaker, Last Hope of the Breaking ...","((178, Oathbreaker, Last Hope of the Breaking ...",12,$4.23,50.76
82,Nirvana,"((82, Nirvana), [82, 82, 82, 82, 82, 82, 82, 8...","((82, Nirvana), [Nirvana, Nirvana, Nirvana, Ni...",9,$4.90,44.10
145,Fiery Glass Crusader,"((145, Fiery Glass Crusader), [145, 145, 145, ...","((145, Fiery Glass Crusader), [Fiery Glass Cru...",9,$4.58,41.22
92,Final Critic,"((92, Final Critic), [92, 92, 92, 92, 92, 92, ...","((92, Final Critic), [Final Critic, Final Crit...",8,$4.88,39.04
103,Singed Scalpel,"((103, Singed Scalpel), [103, 103, 103, 103, 1...","((103, Singed Scalpel), [Singed Scalpel, Singe...",8,$4.35,34.80